@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .card-color {
        background-color: #252525
    }
    .place-self-start {
        place-self: start;
      }
    
      .place-self-end {
        place-self: end;
      }
}